<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>CSS Icons</title>
        <meta name="description" content="This is an example">
        <meta name="robots" content="noindex">
        <link rel="stylesheet" href="@src/scss/styles.css">
    </head>

    <body>
        <h1>module.parser.dataUrlCondition: 1024</h1>
        <div>
            <h2> SVG Images</h2>
            <h3>Whatsapp icon (1.69 KB)</h3>
            <img src="@src/img/icons/whatsapp.svg" width="128" height="128" alt="SVG (1.69 KB)">
            <img src="@src/img/icons/whatsapp.svg?inline" width="128" height="128" alt="Force inline SVG (1.69 KB) as Data URI">
            <img src="@src/img/icons/whatsapp.svg?embed" width="128" height="128" alt="Force embed SVG (1.69 KB)">
            <h3>Code slash icon (415 bytes)</h3>
            <img src="@src/img/icons/code-slash.svg" width="128" height="128" alt="SVG (415 bytes)">
            <img src="@src/img/icons/code-slash.svg?inline" width="128" height="128" alt="Force inline SVG (415 bytes) as Data URI">
            <img src="@src/img/icons/code-slash.svg?embed" width="128" height="128" alt="Force embed SVG (415 bytes)">
        </div>
        <div>
            <h2>CSS icons</h2>
            <h3>Whatsapp icon (1.69 KB)</h3>
            <p><span class="i-bg-whatsapp"></span></p>
            <p><span class="i-bg-whatsapp-force-inline"></span></p>
            <p><span class="i-bg-whatsapp-force-embed"></span></p>
            <h3>Code slash icon (415 bytes)</h3>
            <p><span class="i-bg-code-slash"></span></p>
            <p><span class="i-bg-code-slash-force-inline"></span></p>
            <p><span class="i-bg-code-slash-force-embed"></span></p>
        </div>
    </body>
    <script src="@src/js/test.js"></script>
</html>
