.i-bg-whatsapp::before {
  display: block;
  width: 1.5em;
  height: 1.5em;
  margin-right: .5rem;
  line-height: 0;
  content: "";
  background-image: url("@src/img/icons/whatsapp.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
